# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec.bak

# Testing
.pytest_cache/
.coverage
htmlcov/

# Local databases & logs
*.db
*.db-journal
*.db-wal
*.db-shm
logs/
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
